<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      &#8475;
      weChat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form method="post">
    <select name="Icecream Flavours">
      <option value="double chocolate">Contact List</option>
      <option value="vanilla">Arthur Banda</option>
      <option value="strawberry">Fernando Gonzalez</option>
      <option value="caramel">Luis Rodriguez</option>
      <option value="double chocolate">Oliver Heyer</option>
      <option value="vanilla">Arthur Banda</option>
      <option value="strawberry">Fernando Gonzalez</option>
      <option value="caramel">Luis Rodriguez</option>
      <option value="double chocolate">Oliver Heyer</option>
      <option value="vanilla">Arthur Banda</option>
      <option value="strawberry">Fernando Gonzalez</option>
      <option value="caramel">Luis Rodriguez</option>
    </select>
  </form>
</ion-content>



<ion-button  color="tertiary">video call</ion-button>
